

<p>child in home</p>
<p> Wlecome : {{userName}}</p>
<p>{{nameObj | json}}</p>

<br>
<input #name>
<br>
<button (click)="dataupdater.emit(name.value)">Transfer</button>
<ul>
    @for(item of fruits;track item ){
        <li>{{item}}</li>
    }
</ul>
<input [(ngModel)]="fruitname" name="fruitname">
<button (click)="Updatefruits()">Add fruit</button>


<h1>Counter: {{ counts$ | async }}</h1>
 <p>{{userDataObj$| async | json}}</p>

<div *ngIf="userDataArry$ | async as userDataArray">
    @for (u of userDataArray; track $index) {
      <p>{{u.name}}</p>
      <p>{{u.age}}</p>

    }
  </div>